div.header-container
  - var basics = resume.basics
  div.title
    span.name= basics.name
    span.separator |
    span.label= basics.label
  hr
  ul.profiles
    - var { location, phone, email, url, profiles } = basics;

    if location
      li.profile
        i.fas.fa-map-marker-alt
        span= helper.formatLocation(location)
    if phone
      li.profile
        i.fas.fa-phone
        a(href='tel:' + phone)= helper.formatPhone(phone)
    if email
      li.profile
        i.fas.fa-envelope
        a(href='mailto:' + email)= email
    if url
      li.profile
        i.fas.fa-globe
        a(href=url)= helper.formatLink(url)
    each profile in profiles
      li.profile
        -
          var iconMap = {
            GitHub: 'fab fa-github',
            LinkedIn: 'fab fa-linkedin',
          };
        - var iconClass = iconMap[profile.network] || 'fas fa-link';

        i(class=iconClass)

        a(href=profile.url)= profile.username || profile.url.replace(/^https?:\/\//, '')
  if resume.basics.summary
    hr
    div.section-container
      p=resume.basics.summary
