div.header-container
  - var basics = resume.basics
  div.title
    span.name= basics.name
    span.label= basics.label

  ul.profiles
    - var { location, phone, email, website, profiles } = basics;

    if location
      li.profile
        i.fas.fa-map-marker-alt
        span= helper.calcLocation(location)

    if phone
      li.profile
        i.fas.fa-phone
        a(href='tel:' + phone)= helper.formatPhone(phone)

    if email
      li.profile
        i.fas.fa-envelope
        a(href='mailto:' + email)= email

    if website
      li.profile
        i.fas.fa-globe
        a(href=website)= helper.formatLink(website)

    each profile in profiles
      li.profile
        -
          var iconMap = {
            Github: 'fab fa-github',
            LinkedIn: 'fab fa-linkedin',
            Soundcloud: 'fab fa-soundcloud'
          };

        - var iconClass = iconMap[profile.network] || 'fas fa-link';

        i(class=iconClass)
        a(href=profile.url)= profile.url.replace(/^https?:\/\//, '')
