if helper.validArray(resume.publications)
  div(class='margin-container-2')
    div(class='section')
      h3 Publications
      hr
    div(class='container')
      each publication in resume.publications
        div(class='publication-entry no-break')
          span(class="date")= helper.calcDate(publication.releaseDate)
          h4(class="title")=publication.name
          span(class="authors")!=helper.mdToHtml(publication.authors)
          span(class="publisher")
            a(href=publication.website)=publication.publisher
          div(class="summary")!=helper.mdToHtml(publication.summary)

