if helper.isValidArray(resume.publications)
  div.section-container
    div.section-title
      h2 Publications
      hr
    div.margin-container-md
      each publication in resume.publications
        div.publication-entry
          div.date= helper.formatDate(publication.releaseDate)

          h3.title
            = publication.name
            if publication.publisher
              if publication.website
                | , 
                a(href=publication.website)= publication.publisher
              else
                | , #{publication.publisher}

          if publication.authors
            div.authors!= helper.mdToHtml(publication.authors)

          if publication.summary
            div.summary!= helper.mdToHtml(publication.summary)
