if helper.validArray(resume.publications)
  div.section-container
    div.section-title
      h3 Publications
      hr
    each publication in resume.publications
      div.publication-entry
        div.date= helper.calcDate(publication.releaseDate)
        div.content
          h4.title= publication.name
          if publication.authors
            div.authors!= helper.mdToHtml(publication.authors)
          if publication.website && publication.publisher
            div.publisher
              a(href=publication.website)= publication.publisher
          if publication.summary
            div.summary!= helper.mdToHtml(publication.summary)
