if helper.isValidArray(resume.work)
  div(class='section')
    h3.name Volunteering
    hr.line
  div(class='container')
    each vol in resume.volunteer
      div(class='work-entry')
        div(class="date")
          | #{helper.formatDate(vol.startDate)} -
          br
          | #{helper.formatDate(vol.endDate)}
        h4(class="title")= vol.position
        span(class="company")
          a(href=vol.url)=vol.organization
        p(class="summary")=vol.summary
        if helper.isValidArray(vol.highlights)
          ul(class='highlights margin-text-4')
            each highlight in vol.highlights
              li!=helper.mdToHtml(highlight)
