if helper.validArray(resume.work)
  div(class='section')
    h3.name Work
    hr.line
  div(class='container')
    each work in resume.work
      div(class="no-break work-entry")
        div(class="date")
          | #{helper.calcDate(work.startDate)} -
          br
          | #{helper.calcDate(work.endDate)}
        h4(class="title")=work.position
        span(class="company")
          a(href=work.url)=work.company
        p(class="summary")=work.summary
        if helper.validArray(work.highlights)
          ul(class='highlights margin-text-4 no-break')
            each highlight in work.highlights
              li!=helper.mdToHtml(highlight)
